<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>24830341355-8mqhn2ftvdg6hosnn131bvttgfucrrup.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.24830341355-8mqhn2ftvdg6hosnn131bvttgfucrrup</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>24830341355-d8bmnrikh5p7ffafpm62k0dt8sn5m483.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDKHhPKxLPeY4M-LE2uhh1X6fr_1d_62hI</string>
	<key>GCM_SENDER_ID</key>
	<string>24830341355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cadyhakim.numynd</string>
	<key>PROJECT_ID</key>
	<string>numynd-7d5bc</string>
	<key>STORAGE_BUCKET</key>
	<string>numynd-7d5bc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24830341355:ios:43cfc3d0835a547a5a0eae</string>
</dict>
</plist>